.Web {
    background-color: #000000ea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);  
    text-align: center;
  }  

.Web-header {
    background-color: #00000000;
    height: 70px;
    width: 100%;
    display: flex;
    color: white;
  }
  .Web-logo {
    /* display: ; */
  }
  .Resources-btn {
    /* height: ; */
    /* width: ; */
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .Demo-btn {
    height: 50px;
    width: 150px;
    justify-content: right;
    text-align: center;
    border: transparent;
    border-radius: 7px;
    background-color: rgb(2, 66, 2);
    color: green;
  }